In [1]:
import pandas as pd
import math
import json
import pickle
import time

# spatial libs
import googlemaps
from geopandas import GeoDataFrame
from shapely.geometry import Point
from shapely.ops import nearest_points

# scraping libs
from bs4 import BeautifulSoup
import urllib

In [391]:
# all US cities exceeding 50K population in 2015 census
cities = pd.read_csv('us_cities_2015.csv')
# state name - abbreviation mapping
abbrev = pd.read_csv('state_abbrev.csv')

### weather stations

In [81]:
# scrape the NOAA website for a list of weather stations for which 
# there is weather data for 2015, 2016, and 2017
# there are two different ID types for each station: USAF and WBAN
# I'll primarily use USAF, but carry along WBAN too
def get_usaf_wban(link):
    href = link.get('href')
    usaf = int(href[:6])
    wban = int(href[7:12])
    return (usaf, wban)

available_usaf_dict = {}

for year in ['2015', '2016', '2017']:
    
    # use beautifulsoup to parse the HTML
    query_string = 'https://www1.ncdc.noaa.gov/pub/data/noaa/isd-lite/{}/'.format(year)
    html = urllib.urlopen(query_string).read()
    soup = BeautifulSoup(html, 'lxml')
    
    # isolate the USAF identifier from each embedded URL
    # first five aren't consistent/useful
    all_links = soup.find_all('a')[5:]
    available_usaf_yr = map(get_usaf_wban, all_links)
    available_usaf_dict[year] = available_usaf_yr

In [82]:
# ensure that I only deal with weather stations that have data in all three years
available_usaf = list(set(available_usaf_dict['2015'])&\
                      set(available_usaf_dict['2016'])&\
                      set(available_usaf_dict['2017']))

In [174]:
# all weather stations available from ncdc/noaa, with geographic locations
stations = pd.read_csv('https://www1.ncdc.noaa.gov/pub/data/noaa/isd-history.csv')

In [95]:
# cleaning weather stations df; US only, exclude stations with missing information
stations = stations[stations.CTRY=='US']
stations.dropna(axis=0, how='any', inplace=True,\
                subset=['USAF', 'WBAN', 'STATION NAME', 'STATE', 'LAT', 'LON'])
stations.drop(['ICAO', 'ELEV(M)', 'BEGIN', 'END'], axis=1, inplace=True)

# 9's represent missing value in this dataset
stations = stations[stations.USAF != 999999]
# only stations for which there is data!
mask = stations.apply(lambda row: (row['USAF'], row['WBAN']) in available_usaf, axis=1)
stations = stations.loc[mask, :]

In [97]:
stations.head()

         USAF   WBAN       STATION NAME CTRY STATE     LAT      LON
14466  690150  93121  TWENTY NINE PALMS   US    CA  34.300 -116.167
14474  690190  13910  ABILENE DYESS AFB   US    TX  32.433  -99.850
15106  699604   3145          YUMA MCAS   US    AZ  32.650 -114.617
15107  700001  26492    PORTAGE GLACIER   US    AK  60.785 -148.839
15109  700197  26558            SELAWIK   US    AK  66.600 -159.986

### cities

In [397]:
def get_abbrev(state):
    """
    maps a full US state name to its abbreviation
    """
    try:
        return abbrev[abbrev.state == state]['abbrev'].values[0]
    except:
        return 'nah'

In [398]:
# cleaning the cities df
cities['state'] = map(lambda place: place.split(', ')[1], cities.loc[:, 'city'])
cities['state_abb'] = map(lambda state: get_abbrev(state), cities.loc[:, 'state'])
cities['city'] = map(lambda place: place.split(', ')[0], cities.loc[:, 'city'])
cities['population'] = map(lambda p: int(p.replace(',', '')), cities.loc[:, 'pop'])
cities.drop(['pop'], axis=1, inplace=True)

In [399]:
# create a googlemaps API client
with open('secrets.json') as f:    
    creds = json.load(f)
    google_client = googlemaps.Client(key=creds["googlemaps"]["key"])

In [400]:
# get a latlon from google API for each city
def get_point(row):
    # query google API with city and state string; response is geolocation
    city_string = row['city'] + ', ' + row['state_abb']
    geo_response = google_client.geocode(city_string)
    loc = geo_response[0]["geometry"]["location"]
    
    # create and return a shapely point from the response
    return Point(loc['lat'], loc['lng'])

In [101]:
cities['location'] = cities.apply(get_point, axis=1)
stations['location'] = stations.apply(lambda row: Point(row.LAT, row.LON), axis=1)

In [102]:
crs = {'init': 'epsg:4326'}
geo_cities = GeoDataFrame(cities, crs=crs, geometry='location')
geo_stations = GeoDataFrame(stations, crs=crs, geometry='location')

In [103]:
geo_stations.head()

,USAF,WBAN,STATION NAME,CTRY,STATE,LAT,LON,location
14466,690150,93121,TWENTY NINE PALMS,US,CA,34.300,-116.167,POINT (34.3 -116.167)
14474,690190,13910,ABILENE DYESS AFB,US,TX,32.433,-99.850,POINT (32.433 -99.84999999999999)
15106,699604,3145,YUMA MCAS,US,AZ,32.650,-114.617,POINT (32.65 -114.617)
15107,700001,26492,PORTAGE GLACIER,US,AK,60.785,-148.839,POINT (60.785 -148.839)
15109,700197,26558,SELAWIK,US,AK,66.600,-159.986,POINT (66.59999999999999 -159.986)

In [404]:
geo_cities.head()

,city,state,state_abb,population,location
0,New York,New York,NY,8550405,POINT (40.7127837 -74.0059413)
1,Los Angeles,California,CA,3971883,POINT (34.0522342 -118.2436849)
2,Chicago,Illinois,IL,2720546,POINT (41.8781136 -87.6297982)
3,Houston,Texas,TX,2296224,POINT (29.7604267 -95.3698028)
4,Philadelphia,Pennsylvania,PA,1567442,POINT (39.9525839 -75.1652215)

### joining weather stations to cities

In [104]:
# locate the closest weather station (with full weather data) to each city
all_stations = geo_stations.location.unary_union
for i, row in geo_cities.iterrows():
    nearest_station = nearest_points(row['location'], all_stations)[1]
    station_ids = geo_stations[geo_stations.location == nearest_station][['USAF', 'WBAN']]
    # append USAF and WBAN identifier to cities data
    geo_cities.loc[i, 'USAF'] = station_ids.iloc[0, 0]
    geo_cities.loc[i, 'WBAN'] = station_ids.iloc[0, 1]

In [165]:
geo_cities['USAF'] = geo_cities.loc[:, 'USAF'].astype(int)
geo_cities['WBAN'] = geo_cities.loc[:, 'WBAN'].astype(int)

### Write and Read geostation , geocities

In [106]:
with open('cities.pickle', 'wb') as handle:
    pickle.dump(geo_cities, handle, protocol=pickle.HIGHEST_PROTOCOL)

with open('stations.pickle', 'wb') as handle:
    pickle.dump(geo_stations, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [129]:
with open('cities.pickle', 'rb') as handle:
    geo_cities = pickle.load(handle)

with open('stations.pickle', 'rb') as handle:
    geo_stations = pickle.load(handle)

In [164]:
geo_cities.head()

,city,state,state_abb,population,location,USAF,WBAN
0,New York,New York,NY,8550405,POINT (40.7127837 -74.0059413),997271,99999
1,Los Angeles,California,CA,3971883,POINT (34.0522342 -118.2436849),722874,93134
2,Chicago,Illinois,IL,2720546,POINT (41.8781136 -87.6297982),998499,99999
3,Houston,Texas,TX,2296224,POINT (29.7604267 -95.3698028),720594,188
4,Philadelphia,Pennsylvania,PA,1567442,POINT (39.9525839 -75.1652215),724080,13739

In [168]:
weather_dict = {}

### pulling down weather time series

In [171]:
# 
for i, row in geo_cities.iterrows():
    place_string = '{}, {}'.format(row['city'], row['state_abb'])
    print i, ': ', place_string
    usaf = str(row['USAF'])
    wban = str(row['WBAN'])
    # some WBAN ID's are less than 5 chars; append with leading zeroes
    wban_gap = 5 - len(wban)
    wban = (wban_gap * '0') + wban
    
    all_weather = pd.DataFrame(columns=['year', 'month', 'day', 'hour', 'temp'])
    for year in ['2015', '2016', '2017']:
        # build a URL for each station and year
        query_string = 'https://www1.ncdc.noaa.gov/pub/data/noaa/isd-lite/{}/{}-{}-{}.gz'\
            .format(year, usaf, wban, year)
        # hit the NOAA API for weather data
        weather_series = pd.read_csv(query_string, compression='gzip',\
                                     delim_whitespace=True, header=None,\
                                    names=['year', 'month', 'day', 'hour', 'temp',\
                                        'x1', 'x2', 'x3', 'x4', 'x5', 'x6', 'x7'])
        weather_series.drop(['x1', 'x2', 'x3', 'x4', 'x5', 'x6', 'x7'], axis=1, inplace=True)
        # add year's worth of data to all_weather, and return
        all_weather = all_weather.append(weather_series, ignore_index=True)
        weather_dict[place_string] = all_weather

0 :  New York, NY
1 :  Los Angeles, CA
2 :  Chicago, IL
3 :  Houston, TX
4 :  Philadelphia, PA
5 :  Phoenix, AZ
6 :  San Antonio, TX
7 :  San Diego, CA
8 :  Dallas, TX
9 :  San Jose, CA
10 :  Austin, TX
11 :  Jacksonville, FL
12 :  San Francisco, CA
13 :  Indianapolis, IN
14 :  Columbus, OH
15 :  Fort Worth, TX
16 :  Charlotte, NC
17 :  Seattle, WA
18 :  Denver, CO
19 :  El Paso, TX
20 :  Detroit, MI
21 :  Washington, DC
22 :  Boston, MA
23 :  Memphis, TN
24 :  Nashville, TN
25 :  Portland, OR
26 :  Oklahoma City, OK
27 :  Las Vegas, NV
28 :  Baltimore, MD
29 :  Louisville, KY
30 :  Milwaukee, WI
31 :  Albuquerque, NM
32 :  Tucson, AZ
33 :  Fresno, CA
34 :  Sacramento, CA
35 :  Kansas City, MO
36 :  Long Beach, CA
37 :  Mesa, AZ
38 :  Atlanta, GA
39 :  Colorado Springs, CO
40 :  Virginia Beach, VA
41 :  Raleigh, NC
42 :  Omaha, NE
43 :  Miami, FL
44 :  Oakland, CA
45 :  Minneapolis, MN
46 :  Tulsa, OK
47 :  Wichita, KS
48 :  New Orleans, LA
49 :  Arlington, TX
50 :  Cleveland, OH
51 :  Bakersfield, CA
52 :  Tampa, FL
53 :  Aurora, CO
54 :  Urban Honolulu, HI
55 :  Anaheim, CA
56 :  Santa Ana, CA
57 :  Corpus Christi, TX
58 :  Riverside, CA
59 :  St. Louis, MO
60 :  Lexington, KY
61 :  Stockton, CA
62 :  Pittsburgh, PA
63 :  St. Paul, MN
64 :  Anchorage, AK
65 :  Cincinnati, OH
66 :  Henderson, NV
67 :  Greensboro, NC
68 :  Plano, TX
69 :  Newark, NJ
70 :  Toledo, OH
71 :  Lincoln, NE
72 :  Orlando, FL
73 :  Chula Vista, CA
74 :  Jersey City, NJ
75 :  Chandler, AZ
76 :  Fort Wayne, IN
77 :  Buffalo, NY
78 :  Durham, NC
79 :  St. Petersburg, FL
80 :  Irvine, CA
81 :  Laredo, TX
82 :  Lubbock, TX
83 :  Madison, WI
84 :  Gilbert, AZ
85 :  Norfolk, VA
86 :  Reno, NV
87 :  Winston-Salem, NC
88 :  Glendale, AZ
89 :  Hialeah, FL
90 :  Garland, TX
91 :  Scottsdale, AZ
92 :  Irving, TX
93 :  Chesapeake, VA
94 :  North Las Vegas, NV
95 :  Fremont, CA
96 :  Baton Rouge, LA
97 :  Richmond, VA
98 :  Boise City, ID
99 :  San Bernardino, CA
100 :  Spokane, WA
101 :  Birmingham, AL
102 :  Modesto, CA
103 :  Des Moines, IA
104 :  Rochester, NY
105 :  Tacoma, WA
106 :  Fontana, CA
107 :  Oxnard, CA
108 :  Moreno Valley, CA
109 :  Fayetteville, NC
110 :  Huntington Beach, CA
111 :  Yonkers, NY
112 :  Glendale, CA
113 :  Aurora, IL
114 :  Montgomery, AL
115 :  Columbus, GA
116 :  Amarillo, TX
117 :  Little Rock, AR
118 :  Akron, OH
119 :  Shreveport, LA
120 :  Augusta-Richmond County, GA
121 :  Grand Rapids, MI
122 :  Mobile, AL
123 :  Salt Lake City, UT
124 :  Huntsville, AL
125 :  Tallahassee, FL
126 :  Grand Prairie, TX
127 :  Overland Park, KS
128 :  Knoxville, TN
129 :  Worcester, MA
130 :  Brownsville, TX
131 :  Newport News, VA
132 :  Santa Clarita, CA
133 :  Port St. Lucie, FL
134 :  Providence, RI
135 :  Fort Lauderdale, FL
136 :  Chattanooga, TN
137 :  Tempe, AZ
138 :  Oceanside, CA
139 :  Garden Grove, CA
140 :  Rancho Cucamonga, CA
141 :  Cape Coral, FL
142 :  Santa Rosa, CA
143 :  Vancouver, WA
144 :  Sioux Falls, SD
145 :  Peoria, AZ
146 :  Ontario, CA
147 :  Jackson, MS
148 :  Elk Grove, CA
149 :  Springfield, MO
150 :  Pembroke Pines, FL
151 :  Salem, OR
152 :  Corona, CA
153 :  Eugene, OR
154 :  McKinney, TX
155 :  Fort Collins, CO
156 :  Lancaster, CA
157 :  Cary, NC
158 :  Palmdale, CA
159 :  Hayward, CA
160 :  Salinas, CA
161 :  Frisco, TX
162 :  Springfield, MA
163 :  Pasadena, TX
164 :  Macon, GA
165 :  Alexandria, VA
166 :  Pomona, CA
167 :  Lakewood, CO
168 :  Sunnyvale, CA
169 :  Escondido, CA
170 :  Kansas City, KS
171 :  Hollywood, FL
172 :  Clarksville, TN
173 :  Torrance, CA
174 :  Rockford, IL
175 :  Joliet, IL
176 :  Paterson, NJ
177 :  Bridgeport, CT
178 :  Naperville, IL
179 :  Savannah, GA
180 :  Mesquite, TX
181 :  Syracuse, NY
182 :  Pasadena, CA
183 :  Orange, CA
184 :  Fullerton, CA
185 :  Killeen, TX
186 :  Dayton, OH
187 :  McAllen, TX
188 :  Bellevue, WA
189 :  Miramar, FL
190 :  Hampton, VA
191 :  West Valley City, UT
192 :  Warren, MI
193 :  Olathe, KS
194 :  Columbia, SC
195 :  Thornton, CO
196 :  Carrollton, TX
197 :  Midland, TX
198 :  Charleston, SC
199 :  Waco, TX
200 :  Sterling Heights, MI
201 :  Denton, TX
202 :  Cedar Rapids, IA
203 :  New Haven, CT
204 :  Roseville, CA
205 :  Gainesville, FL
206 :  Visalia, CA
207 :  Coral Springs, FL
208 :  Thousand Oaks, CA
209 :  Elizabeth, NJ
210 :  Stamford, CT
211 :  Concord, CA
212 :  Surprise, AZ
213 :  Lafayette, LA
214 :  Topeka, KS
215 :  Kent, WA
216 :  Simi Valley, CA
217 :  Santa Clara, CA
218 :  Murfreesboro, TN
219 :  Hartford, CT
220 :  Athens-Clarke County, GA
221 :  Victorville, CA
222 :  Abilene, TX
223 :  Vallejo, CA
224 :  Berkeley, CA
225 :  Norman, OK
226 :  Allentown, PA
227 :  Evansville, IN
228 :  Columbia, MO
229 :  Odessa, TX
230 :  Fargo, ND
231 :  Beaumont, TX
232 :  Independence, MO
233 :  Ann Arbor, MI
234 :  El Monte, CA
235 :  Springfield, IL
236 :  Round Rock, TX
237 :  Wilmington, NC
238 :  Arvada, CO
239 :  Provo, UT
240 :  Peoria, IL
241 :  Lansing, MI
242 :  Downey, CA
243 :  Carlsbad, CA
244 :  Costa Mesa, CA
245 :  Miami Gardens, FL
246 :  Westminster, CO
247 :  Clearwater, FL
248 :  Fairfield, CA
249 :  Rochester, MN
250 :  Elgin, IL
251 :  Temecula, CA
252 :  West Jordan, UT
253 :  Inglewood, CA
254 :  Richardson, TX
255 :  Lowell, MA
256 :  Gresham, OR
257 :  Antioch, CA
258 :  Cambridge, MA
259 :  High Point, NC
260 :  Billings, MT
261 :  Manchester, NH
262 :  Murrieta, CA
263 :  Centennial, CO
264 :  Richmond, CA
265 :  San Buenaventura, CA
266 :  Pueblo, CO
267 :  Pearland, TX
268 :  Waterbury, CT
269 :  West Covina, CA
270 :  North Charleston, SC
271 :  Everett, WA
272 :  College Station, TX
273 :  Palm Bay, FL
274 :  Pompano Beach, FL
275 :  Boulder, CO
276 :  Norwalk, CA
277 :  West Palm Beach, FL
278 :  Broken Arrow, OK
279 :  Daly City, CA
280 :  Sandy Springs, GA
281 :  Burbank, CA
282 :  Green Bay, WI
283 :  Santa Maria, CA
284 :  Wichita Falls, TX
285 :  Lakeland, FL
286 :  Clovis, CA
287 :  Lewisville, TX
288 :  Tyler, TX
289 :  El Cajon, CA
290 :  San Mateo, CA
291 :  Rialto, CA
292 :  Davenport, IA
293 :  Hillsboro, OR
294 :  Las Cruces, NM
295 :  South Bend, IN
296 :  Vista, CA
297 :  Greeley, CO
298 :  Davie, FL
299 :  San Angelo, TX
300 :  Jurupa Valley, CA
301 :  Renton, WA
302 :  Roanoke, VA
303 :  Kenosha, WI
304 :  Erie, PA
305 :  Albany, NY
306 :  Compton, CA
307 :  Tuscaloosa, AL
308 :  League City, TX
309 :  Flint, MI
310 :  Allen, TX
311 :  Mission Viejo, CA
312 :  Vacaville, CA
313 :  Lawton, OK
314 :  Beaverton, OR
315 :  South Gate, CA
316 :  Portsmouth, VA
317 :  Sparks, NV
318 :  Brockton, MA
319 :  Dearborn, MI
320 :  Federal Way, WA
321 :  Lee's Summit, MO
322 :  New Bedford, MA
323 :  Spokane Valley, WA
324 :  Livonia, MI
325 :  Roswell, GA
326 :  Orem, UT
327 :  Rio Rancho, NM
328 :  Yuma, AZ
329 :  Lawrence, KS
330 :  Yakima, WA
331 :  Quincy, MA
332 :  Sandy, UT
333 :  Hesperia, CA
334 :  Carson, CA
335 :  Boca Raton, FL
336 :  Santa Monica, CA
337 :  San Marcos, CA
338 :  Sunrise, FL
339 :  Plantation, FL
340 :  Lynn, MA
341 :  Miami Beach, FL
342 :  Westminster, CA
343 :  Longmont, CO
344 :  Santa Barbara, CA
345 :  Redding, CA
346 :  Meridian, ID
347 :  San Leandro, CA
348 :  Greenville, NC
349 :  Chico, CA
350 :  Edmond, OK
351 :  Nampa, ID
352 :  Newton, MA
353 :  Fall River, MA
354 :  Carmel, IN
355 :  Fishers, IN
356 :  Asheville, NC
357 :  Norwalk, CT
358 :  Waukegan, IL
359 :  Deltona, FL
360 :  Hawthorne, CA
361 :  Fort Smith, AR
362 :  Suffolk, VA
363 :  Sugar Land, TX
364 :  Livermore, CA
365 :  Nashua, NH
366 :  Reading, PA
367 :  Concord, NC
368 :  Indio, CA
369 :  Whittier, CA
370 :  Kirkland, WA
371 :  Menifee, CA
372 :  Newport Beach, CA
373 :  Tracy, CA
374 :  Citrus Heights, CA
375 :  Bend, OR
376 :  Bloomington, MN
377 :  Clifton, NJ
378 :  Duluth, MN
379 :  Champaign, IL
380 :  Chino, CA
381 :  Alhambra, CA
382 :  Ogden, UT
383 :  Redwood City, CA
384 :  Bellingham, WA
385 :  O'Fallon, MO
386 :  Hoover, AL
387 :  Danbury, CT
388 :  Edinburg, TX
389 :  Trenton, NJ
390 :  Santa Fe, NM
391 :  Bloomington, IN
392 :  Cicero, IL
393 :  Hemet, CA
394 :  Johns Creek, GA
395 :  Mission, TX
396 :  Troy, MI
397 :  Buena Park, CA
398 :  Palm Coast, FL
399 :  Fayetteville, AR
400 :  Sioux City, IA
401 :  Lake Forest, CA
402 :  Merced, CA
403 :  Longview, TX
404 :  Bryan, TX
405 :  Westland, MI
406 :  Warwick, RI
407 :  Lakewood, CA
408 :  Farmington Hills, MI
409 :  Mount Pleasant, SC
410 :  Cranston, RI
411 :  Largo, FL
412 :  Avondale, AZ
413 :  Tustin, CA
414 :  Mountain View, CA
415 :  Napa, CA
416 :  Somerville, MA
417 :  Lawrence, MA
418 :  St. George, UT
419 :  Melbourne, FL
420 :  Parma, OH
421 :  New Rochelle, NY
422 :  Lynchburg, VA
423 :  Medford, OR
424 :  Deerfield Beach, FL
425 :  Pleasanton, CA
426 :  Brooklyn Park, MN
427 :  Goodyear, AZ
428 :  Kennewick, WA
429 :  Alameda, CA
430 :  Bellflower, CA
431 :  Chino Hills, CA
432 :  Bloomington, IL
433 :  Springdale, AR
434 :  Racine, WI
435 :  Hammond, IN
436 :  Milpitas, CA
437 :  Gary, IN
438 :  Scranton, PA
439 :  Baldwin Park, CA
440 :  Auburn, WA
441 :  St. Joseph, MO
442 :  Pharr, TX
443 :  Upland, CA
444 :  Folsom, CA
445 :  Baytown, TX
446 :  San Ramon, CA
447 :  Camden, NJ
448 :  Lake Charles, LA
449 :  Kalamazoo, MI
450 :  Arlington Heights, IL
451 :  Plymouth, MN
452 :  Evanston, IL
453 :  Manteca, CA
454 :  Wyoming, MI
455 :  Loveland, CO
456 :  Perris, CA
457 :  Bethlehem, PA
458 :  Albany, GA
459 :  Schaumburg, IL
460 :  Gastonia, NC
461 :  Union City, CA
462 :  Bolingbrook, IL
463 :  Iowa City, IA
464 :  Layton, UT
465 :  Appleton, WI
466 :  Missouri City, TX
467 :  Fort Myers, FL
468 :  Boynton Beach, FL
469 :  Jonesboro, AR
470 :  Rapid City, SD
471 :  Warner Robins, GA
472 :  Rochester Hills, MI
473 :  Decatur, IL
474 :  Southfield, MI
475 :  New Britain, CT
476 :  Franklin, TN
477 :  Turlock, CA
478 :  Temple, TX
479 :  Apple Valley, CA
480 :  Lynwood, CA
481 :  Waukesha, WI
482 :  Wilmington, DE
483 :  Canton, OH
484 :  Gulfport, MS
485 :  Pawtucket, RI
486 :  Lauderhill, FL
487 :  Rock Hill, SC
488 :  Flower Mound, TX
489 :  Bismarck, ND
490 :  Lafayette, IN
491 :  Passaic, NJ
492 :  Redlands, CA
493 :  Missoula, MT
494 :  Rancho Cordova, CA
495 :  New Braunfels, TX
496 :  Flagstaff, AZ
497 :  Muncie, IN
498 :  Weston, FL
499 :  Frederick, MD
500 :  Pasco, WA
501 :  Pittsburg, CA
502 :  Palatine, IL
503 :  North Richland Hills, TX
504 :  Union City, NJ
505 :  Kissimmee, FL
506 :  Walnut Creek, CA
507 :  St. Charles, MO
508 :  Mount Vernon, NY
509 :  Conroe, TX
510 :  Dothan, AL
511 :  Waterloo, IA
512 :  Maple Grove, MN
513 :  Redondo Beach, CA
514 :  Bossier City, LA
515 :  Yorba Linda, CA
516 :  Woodbury, MN
517 :  Eau Claire, WI
518 :  Davis, CA
519 :  Camarillo, CA
520 :  Victoria, TX
521 :  Gaithersburg, MD
522 :  Jacksonville, NC
523 :  South San Francisco, CA
524 :  St. Cloud, MN
525 :  Kenner, LA
526 :  Rockville, MD
527 :  Jackson, TN
528 :  Yuba City, CA
529 :  Portland, ME
530 :  Palo Alto, CA
531 :  Marysville, WA
532 :  South Jordan, UT
533 :  Oshkosh, WI
534 :  North Little Rock, AR
535 :  Homestead, FL
536 :  Bayonne, NJ
537 :  Eagan, MN
538 :  Delray Beach, FL
539 :  Johnson City, TN
540 :  Cedar Park, TX
541 :  Laguna Niguel, CA
542 :  Harlingen, TX
543 :  San Clemente, CA
544 :  Schenectady, NY
545 :  Broomfield, CO
546 :  Ames, IA
547 :  Shawnee, KS
548 :  Conway, AR
549 :  East Orange, NJ
550 :  Skokie, IL
551 :  Daytona Beach, FL
552 :  Tamarac, FL
553 :  Youngstown, OH
554 :  Lodi, CA
555 :  Greenville, SC
556 :  Mansfield, TX
557 :  Santa Cruz, CA
558 :  Pico Rivera, CA
559 :  Madera, CA
560 :  Janesville, WI
561 :  West Des Moines, IA
562 :  Montebello, CA
563 :  Georgetown, TX
564 :  Alpharetta, GA
565 :  Lorain, OH
566 :  Bowling Green, KY
567 :  Eden Prairie, MN
568 :  Waltham, MA
569 :  Cheyenne, WY
570 :  Rogers, AR
571 :  Encinitas, CA
572 :  Haverhill, MA
573 :  Jupiter, FL
574 :  Council Bluffs, IA
575 :  Wellington, FL
576 :  North Miami, FL
577 :  Hamilton, OH
578 :  North Port, FL
579 :  Tulare, CA
580 :  Coon Rapids, MN
581 :  Buckeye, AZ
582 :  La Habra, CA
583 :  Blaine, MN
584 :  Auburn, AL
585 :  Lake Elsinore, CA
586 :  Taylor, MI
587 :  Burnsville, MN
588 :  Monterey Park, CA
589 :  Rocklin, CA
590 :  Utica, NY
591 :  Malden, MA
592 :  National City, CA
593 :  Springfield, OR
594 :  Terre Haute, IN
595 :  Vineland, NJ
596 :  San Marcos, TX
597 :  Lakeville, MN
598 :  West Allis, WI
599 :  Redmond, WA
600 :  Cupertino, CA
601 :  Taylorsville, UT
602 :  Bristol, CT
603 :  Moore, OK
604 :  Gardena, CA
605 :  Petaluma, CA
606 :  Grand Junction, CO
607 :  Casper, WY
608 :  Rowlett, TX
609 :  La Mesa, CA
610 :  Meriden, CT
611 :  Pontiac, MI
612 :  St. Clair Shores, MI
613 :  Port Orange, FL
614 :  Lakewood, WA
615 :  Springfield, OH
616 :  Great Falls, MT
617 :  Chapel Hill, NC
618 :  Huntington Park, CA
619 :  Lancaster, PA
620 :  Coconut Creek, FL
621 :  Idaho Falls, ID
622 :  San Rafael, CA
623 :  Noblesville, IN
624 :  Marietta, GA
625 :  Owensboro, KY
626 :  Eastvale, CA
627 :  Royal Oak, MI
628 :  Brentwood, CA
629 :  Dubuque, IA
630 :  Novi, MI
631 :  Des Plaines, IL
632 :  Orland Park, IL
633 :  Bartlett, TN
634 :  Woodland, CA
635 :  Lehi, UT
636 :  White Plains, NY
637 :  Arcadia, CA
638 :  Ocala, FL
639 :  Sanford, FL
640 :  Bowie, MD
641 :  Kokomo, IN
642 :  Santee, CA
643 :  Dublin, CA
644 :  Medford, MA
645 :  Midwest City, OK
646 :  Margate, FL
647 :  Tinley Park, IL
648 :  Pflugerville, TX
649 :  New Brunswick, NJ
650 :  Grand Forks, ND
651 :  Fountain Valley, CA
652 :  St. Peters, MO
653 :  Diamond Bar, CA
654 :  Taunton, MA
655 :  Oak Lawn, IL
656 :  Ankeny, IA
657 :  Chicopee, MA
658 :  Berwyn, IL
659 :  Manhattan, KS
660 :  Smyrna, GA
661 :  Dearborn Heights, MI
662 :  Porterville, CA
663 :  Doral, FL
664 :  Hendersonville, TN
665 :  Weymouth Town, MA
666 :  Rocky Mount, NC
667 :  Corvallis, OR
668 :  Valdosta, GA
669 :  Hanford, CA
670 :  Castle Rock, CO
671 :  Greenwood, IN
672 :  Hempstead, NY
673 :  Novato, CA
674 :  Kettering, OH
675 :  Bellevue, NE
676 :  Shoreline, WA
677 :  Decatur, AL
678 :  Paramount, CA
679 :  Port Arthur, TX
680 :  Anderson, IN
681 :  Sarasota, FL
682 :  West Haven, CT
683 :  Rosemead, CA
684 :  Highland, CA
685 :  Mount Prospect, IL
686 :  Colton, CA
687 :  Carson City, NV
688 :  Pocatello, ID
689 :  Bradenton, FL
690 :  Normal, IL
691 :  Richland, WA
692 :  Euless, TX
693 :  Blue Springs, MO
694 :  Cathedral City, CA
695 :  Elyria, OH
696 :  Wheaton, IL
697 :  Commerce City, CO
698 :  Hoboken, NJ
699 :  Watsonville, CA
700 :  Lake Havasu City, AZ
701 :  Revere, MA
702 :  West New York, NJ
703 :  Yucaipa, CA
704 :  Gilroy, CA
705 :  Pensacola, FL
706 :  Kingsport, TN
707 :  Palm Beach Gardens, FL
708 :  Delano, CA
709 :  West Sacramento, CA
710 :  Huntersville, NC
711 :  Perth Amboy, NJ
712 :  Southaven, MS
713 :  Harrisonburg, VA
714 :  Peabody, MA
715 :  Placentia, CA
716 :  Lenexa, KS
717 :  DeSoto, TX
718 :  Burlington, NC
719 :  Elkhart, IN
720 :  La Crosse, WI
721 :  Oak Park, IL
722 :  Florissant, MO
723 :  Sammamish, WA
724 :  Albany, OR
725 :  Hoffman Estates, IL
726 :  Milford, CT
727 :  Glendora, CA
728 :  Brookhaven, GA
729 :  Palm Desert, CA
730 :  Joplin, MO
731 :  Enid, OK
732 :  Bonita Springs, FL
733 :  Caldwell, ID
734 :  Minnetonka, MN
735 :  Pinellas Park, FL
736 :  Battle Creek, MI
737 :  Casa Grande, AZ
738 :  Grand Island, NE
739 :  Grapevine, TX
740 :  Kentwood, MI
741 :  Tigard, OR
742 :  Apple Valley, MN
743 :  Plainfield, NJ
744 :  Leesburg, VA
745 :  Coral Gables, FL
746 :  Lakewood, OH
747 :  Burien, WA
748 :  Logan, UT
749 :  Olympia, WA
750 :  Aliso Viejo, CA
751 :  Galveston, TX
752 :  Poway, CA
753 :  Edina, MN

In [173]:
with open('weather_series.pickle', 'wb') as handle:
    pickle.dump(weather_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [117]:
weather_dict['Philadelphia'].tail()

,year,month,day,hour,temp,x1,x2,x3,x4,x5,x6,x7
20469,2017.0,5.0,3.0,1.0,217.0,17.0,10077.0,280.0,51.0,-9999.0,-9999.0,-9999.0
20470,2017.0,5.0,3.0,2.0,211.0,22.0,10088.0,280.0,46.0,-9999.0,-9999.0,-9999.0
20471,2017.0,5.0,3.0,3.0,206.0,6.0,10092.0,270.0,57.0,-9999.0,-9999.0,-9999.0
20472,2017.0,5.0,3.0,4.0,200.0,6.0,10095.0,270.0,77.0,-9999.0,-9999.0,-9999.0
20473,2017.0,5.0,3.0,5.0,194.0,11.0,10096.0,280.0,36.0,-9999.0,-9999.0,-9999.0